# ======================
# Python
# ======================
__pycache__/
*.pyc
venv/

# ======================
# Environment variables
# ======================
.env

# ======================
# Databases
# ======================
*.db
*.sqlite3

# ======================
# Logs
# ======================
*.log
**/logs/

# ======================
# OS
# ======================
.DS_Store

# ======================
# IDE
# ======================
.idea/
.vscode/
